// Переменные для цветов
$primary-color: #e27d60;
$secondary-color: #3b9ecc;
$accent-color: #e8A87c;
$muted-color: #e45985;
$highlight-color: #41b3A3;

$font-color: #333;
$background-color: #e7c4c2;
$border-color: rgba(0, 0, 0, 0.1);

// Общие стили
body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $font-color;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: $primary-color;
  text-align: center;
  margin-bottom: 20px;
}

#auth-form,#reg-form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid $border-color;
    border-radius: 10px;
  
    input, textarea, select {
      margin-bottom: 15px;
      padding: 10px;
      border: 1px solid $primary-color;
      border-radius: 5px;
      font-size: 16px;
      width: 100%;
    }

    .error-message {
      color: red;
      font-size: 12px;
      margin-top: 5px;
      display: none;
  }
  
    button {
      background-color: $primary-color;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }


// Стили для формы добавления задачи
#task-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 10px;

  input, textarea, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid $primary-color;
    border-radius: 5px;
    font-size: 16px;
  }
  textarea {
    height: 200px;
  }

  button {
    background-color: $primary-color;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}


// Стили для таблицы задач
table {
  width: 100%;
  max-width: 1400px;
  min-width: 850px;
  min-height: 500px;
  max-height: 800px;
  margin: 20px auto;
  border-collapse: separate; 
  border-spacing: 0; 
  border-radius: 20px;
  overflow: hidden; 

  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid $border-color;
  }

  th {
    background-color: $secondary-color;
    color: white;
  }

  td {
    background-color: white;
  }
.task-title, 
.task-description {
  max-width: 300px; 
  white-space: normal; 
  overflow: hidden; 
  word-wrap: break-word; 
}
  tr:hover {
    background-color: lighten($secondary-color, 40%);
  }
}





// Стили для фильтров и кнопок сортировки
.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    

    input, select {
      padding: 8px;
      border: 1px solid $border-color;
      border-radius: 5px;
      font-size: 14px;
    }

    .button {
      background-color: $highlight-color;
      color: white;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.5s ease, border-color 0.5s ease, box-shadow 0.3s ease; // Плавный переход при изменении цвета

      &:hover {
        background-color: darken($highlight-color, 10%);
      }

      &.active {
        background-color: #f34343; // Цвет при активной кнопке
       
        border-width: 3px;
        box-shadow: inset 4px 6px 6px  rgba(0, 0, 0, 0.5); // Внутренняя тень
        transform: scale(0.9); 
      }

    }
    #open_add_task_modal_btn
    {
      background-color: #71c574;
      color: white;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.5s ease ; 

      &:hover {
        background-color: darken(#71c574, 15%);
      }

    }
}


// Кнопка "Выйти"
button[name="logout"] {
  background-color: $muted-color;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  
  &:hover {
    background-color: darken($muted-color, 10%);
  }
}

// Пагинация
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  
    button {
      background-color: $accent-color;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      
      
  
      &:hover {
        background-color: darken($accent-color, 10%);
      }
  
      &.active {
        background-color: $secondary-color; // Цвет для текущей страницы
        transform: scale(1.4);
      }
    }
  }

.task-id, 
.task-title, 
.task-description, 
.task-status {
  padding: 15px;
  text-align: left;
}



button {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  
  &.edit-button {
    background-color: #71c574;
    color: white;
  }

  &.update-button {
    background-color: $secondary-color;
    color: white;
  }

  &.delete-button {
    background-color: #e66e65;
    color: white;
  }

  &.cancel-button {
    background-color: #dab175;
    color: white;
  }

}

.modal {
    display: none; // Модальное окно скрыто по умолчанию
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Затемнённый фон
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    text-align: center;
    position: relative;
}

.table-row-blur {
    opacity: 0.5; /* Уменьшаем непрозрачность для полупрозрачности */
    pointer-events: none;
    border-color: #333;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 24px;
    cursor: pointer;
}

button {
    margin: 5px;
}

textarea {
    width: 100%; // Занимает 100% ширины контейнера
    max-width: 100%; // Запрещаем увеличивать ширину более чем на 100%
    height: 100px; // Стандартная высота
    max-height: 300px; // Ограничение максимальной высоты
    resize: vertical; // Разрешаем изменение размера только по вертикали (высота)
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; // Чтобы padding не влиял на общие размеры элемента
}